img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px double black;
}
h1,
h2 {
  text-align: center;
}
.quote {
  font-size: 15px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
footer {
  margin-top: 50px;
}
body {
  background-color: chartreuse;
}
